@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .workflow-disabled-tab {
        @apply bg-gray-200 cursor-not-allowed
    }

    .workflow-enabled-tab {
        @apply hover:text-gray-700 hover:border-b-indigo-500
    }

    .workflow-tab {
        @apply w-1/6 py-4 px-1 text-center border-b-2 font-medium text-sm
    }

    .text-input {
        @apply block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md
    }

    .text-input-error {
        @apply block w-full pr-10 border-red-300 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm rounded-md
    }

    .select-input {
        @apply mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm
    }

    .select-input-error {
        @apply max-w-lg block pr-10 border-red-300 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500 w-full shadow-sm sm:text-sm rounded-md
    }

    .vue3-easy-data-table .data-table__body table tbody {
      @apply divide-y divide-gray-200 bg-white
    }

    .vue3-easy-data-table .data-table__body table tbody tr[data-v-0e8b8763] {
      @apply whitespace-nowrap px-3 py-4 text-sm text-gray-500 sm:pl-6
    }

    .vue3-easy-data-table .data-table__body table thead[data-v-0e8b8763] {
      @apply bg-gray-50
    }
    
    .vue3-easy-data-table .data-table__body.fixed-header thead tr th[data-v-0e8b8763] {
      @apply py-3 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6
    }
}

.Rate__star {
  padding: 1px !important;
}

.multiselect {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.vue3-star-ratings button {
  display: none !important;
}

.vue3-star-ratings__wrapper {
  margin: 5px auto !important;
  padding: 10px !important;
}

.number-input {
    border: none;
}

.loading {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .loading div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loading div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loading div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
